bin
pkg
build

src/*
!src/github.com
src/github.com/*
!src/github.com/cjlucas
src/github.com/cjlucas/*
!src/github.com/cjlucas/unnamedcast

.DS_Store

dashboard/node_modules
dashboard/dist
npm-debug.log
